* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Lato;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.header {
    background-color: #222222;
}
.header_info {
    display: flex;
    justify-content: space-between;
}
.header_right, .header_left {
    display: flex;
    align-items: center;
}
.header_right_ul, .header_left_ul {
    list-style: none;
}
.logo_a {
    padding-top: 60px;
}
.menu {
    position: relative;
}
.menu_box {
    width: 232px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding-top: 37px;
    padding-left: 34px;
    box-sizing: border-box;
    position: absolute;
    display: none;
    top: 52px;
}
.menu:hover .menu_box {
    display: flex;
}
.menu_h3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 13px;
}
.menu_h2 {
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    margin-bottom: 12px;
    margin-top: 9px;
}
.menu_a {
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    text-decoration: none;
    margin-bottom: 11px;
}
.menu_h2:hover {
    color: #6F6E6E;
}
.menu_a:hover {
    color: #F16D7F;
}
.logo {
    margin: 18px 41px 19px;
    width: 44px;
}
.backet_logo, .user_logo {
    margin-left: 33px;
}
.top {
    background-color: #F1E4E6;
}
.top_info {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    background-image: url(img/man-on-the-main-page-1.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-top: 290px;
    padding-bottom: 381px;;
}
.red_block {
    background: #F16D7F;
    width: 12px;
}
.wrap_heading {
    margin-left: 16px;
}
.heading {
    width: 377px;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}
.heading_small {
    font-size: 32px;
    font-weight: 900;
    line-height: 58px;
    color: #222222;
}
span {
    color: #F16D7F;
}
.content {
    margin-top: 65px;
}
.project_item {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}
.accesories {
    margin-top: 30px;
}
.project_text {
    justify-content: center;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
}
.women {
    width: 154px;
}
.men {
    width: 110px;
}
.kids {
    width: 115px;
}
.project_li {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.project_span {
    font-size: 24px;
    line-height: 29px;
}
.content-box {
    margin-top: 96px;
    text-align: center;
}
.content_title {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}
.content_small_title {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-top: 6px;
}
.card_li {
    position: relative;
}
.black_box {
    overflow: hidden;
    width: 360px;
    margin-top: -585px;
    position: absolute;
    background: rgba(58, 56, 56, 0.86);
    opacity: 0;
    justify-content: center;
    align-items: center;
    height: 72.4%;
}
.card_li:hover .black_box {
    display: flex;
    opacity: 0.8;
}
.white_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    z-index: 1;
    width: 138px;
    height: 43px;
    border: 1px solid #FFFFFF;
}
.black_span {
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 13.75px 12.91px 12.27px 11.05px;
}
.card-box {
    margin-top: 48px;
    text-align: start;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.card_li {
    width: 360px;
    background: #F8F8F8;
    margin-bottom: 30px;
}
.card_a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.card_title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color: #000000;
    margin: 25px auto 13px 18px;
}
.card_text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin: auto auto 18px 18px;
}
.card_price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin: auto auto 20px 19px;
}
.card_button {
    display: inline-block;
    border: 1px solid #FF6A6A;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    padding: 14.5px 38.5px;
    margin-top: 33px;
}
.card_button:hover {
    background: #F16D7F;
    color: #FFFFFF;
}
.footer_top {
    background: #222224;
    margin-top: 95.5px;
    padding-top: 103px;
    padding-bottom: 104px;
}
.footer_ul {
    list-style: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer_card_li {
    width: 360px;
}
.footer_a {
    padding-top: 16px;
    text-decoration: none;
}
.dop {
    margin-top: -8px;
}
.footer_title {
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    display: inline-block;
    margin-bottom: 16px;
    margin-top: 28px;
}
.footer_bottom {
    background-image: url(img/footer-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.bottom_box {
    display: flex;
    justify-content: space-between;
}
.custom_mention {
    margin-bottom: 30px;
}
.figcaption {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}
.footer_mention {
    width: 327px;
    padding-top: 97px;
    padding-bottom: 211px;
    text-align: center;
}
.subscribe {
    width: 360px;
    margin-top: 150px;
}
.subscribe_text {
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}
.subscribe_span {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;
}
.footer_form {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}
input {
    box-sizing: border-box;
    width: 256px;
    height: 57px;
    padding: 7px 64px 7px 22px;
    border-radius: 30px 0 0 30px;
    background: #E1E1E1;
    border-color: transparent;
}
.input-text {
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    color: #222224;
}
.button_subscribe {
    box-sizing: border-box;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #F16D7F;
    border-radius: 0 30px 30px 0;
    width: 100px;
    padding: 8px;
    height: 57px;
}
.button_subscribe:hover {
    color: #F16D7F;
    background: #FFFFFF;
    border-color: #F16D7F;
}
.footer_copy {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #222224;
}
.wrap_copy {
    display: flex;
    justify-content: space-between;
}
.footer_copy_text {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}
.social_networks {
    width: 147px;
    display: flex;
    justify-content: space-between;
}
.footer_social {
    width: 32px;
    height: 32px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_social:hover {
    background-color: #F16D7F;
}
.footer_social:hover .footer_lnk {
    filter: invert(1);
}

/* Catalog */
.catalog_in_header {
    background: #F8F3F4;
    display: flex;
    justify-content: space-around;
}
.catalog_h3 {
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    margin-top: 59px;
    margin-bottom: 60px;
}
.catalg_h2 {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    margin-top: 65px;
}

